.mainsection {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.mainsection .menu {
  display: flex;
  flex-direction: column;
  background: white;
  width: 25%;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.mainsection .menu img {
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
  border-radius: 7px;
}

.mainsection .menu .genesis_icon {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  align-items: center;
}

.mainsection .menu .genesis_icon img {
  width: 7%;
  height: 7%;
  margin-left: 13px;
  margin-top: 0px;
}

.mainsection .menu .genesis_icon h1 {
  margin-left: 10px;
  width: 20%;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainsection .menu .dao_icon {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}

.mainsection .menu .dao_icon h1 {
  margin-left: 10px;
  color: #888;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainsection .menu .dao_icon img {
  width: 7%;
  height: 7%;
  margin-left: 13px;
  margin-top: 0px;
}

.mainsection .menu .airdrop_icon {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}

.mainsection .menu .airdrop_icon img {
  width: 7%;
  height: 7%;
  margin-left: 13px;
  margin-top: 0px;
}

.mainsection .menu .airdrop_icon h1 {
  margin-left: 10px;
  color: #888;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}

.mainsection .menu .social_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 300px;
  margin-left: 35%;
  width: 30%;
  margin-bottom: 20px;
}

.mainsection .menu .social_icon img {
  margin-right: 20px;
}

.mainsection .content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 75%;
}

.mainsection .content .walletinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

.mainsection .content .walletinfo .walletaddress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 143.27px;
  height: 38.738px;
  flex-shrink: 0;
  border-radius: 6.149px;
  background: #FFF;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.50);
}

.mainsection .content .walletinfo .walletaddress img {
  width: 10px;
  height: 10px;
}

.walletaddress h1 {
  margin-left: 10px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainsection .content .mainlogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 50px;
}

.mainsection .content .mainlogo img {
  width: 150px;
  height: 123.913px;
}

.mainsection .content .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title h1 {
  margin-left: 25%;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainsection .content .description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.description h1 {
  width: 793px;
  height: 122px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainsection .content .userselect {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userselect .userselectboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 870px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: linear-gradient(180deg, #8E66FF 0%, #FFB8C5 100%);
}

.userselectboard .first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.first h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.first label {
  width: 100px;
}

.userselectboard .second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.second h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.second label {
  width: 100px;
}

.userselectboard .third {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.third h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.third label {
  width: 100px;
}

.userselectboard .fourth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.fourth h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fourth label {
  width: 100px;
}

.userselectboard .fifth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.fifth h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fifth label {
  width: 100px;
}

.mainsection .content .items1 {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.items1 .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 32.429px;
  flex-shrink: 0;
  border-radius: 6.236px;
  border: 1.5px solid #8E66FF;
  background: #FFF;
}

.mainsection .content .items2 {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.items2 .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 32.429px;
  flex-shrink: 0;
  border-radius: 6.236px;
  border: 1.5px solid #8E66FF;
  background: #FFF;
}

.mainsection .content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background: #222;
  margin-top: 30px;
  margin-left: 40%;
  margin-bottom: 30px;
  width: 20%;
  height: 82px;
  flex-shrink: 0;
  box-shadow: 0px 5.2063493728637695px 5.2063493728637695px 1.3015873432159424px rgba(0, 0, 0, 0.50);
}

.mainsection .content button h1 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 36.444px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}