.mainsection .content .real-content .userselect {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainsection .content .real-content .userselect .userselectboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 870px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: linear-gradient(180deg, #8E66FF 0%, #FFB8C5 146.51%);
}

.mainsection .content .real-content .userselectboard .first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.mainsection .content .real-content .userselectboard .first h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mainsection .content .real-content .userselectboard .first label {
  width: 100px;
  margin-left: 7px;
}

.mainsection .content .real-content .userselectboard .second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.mainsection .content .real-content .userselectboard .second h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mainsection .content .real-content .userselectboard .second label {
  width: 100px;
  margin-left: 7px;
}

.mainsection .content .real-content .userselectboard .third {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.mainsection .content .real-content .userselectboard .third h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mainsection .content .real-content .userselectboard .third label {
  width: 100px;
  margin-left: 7px;
}

.mainsection .content .real-content .userselectboard .fourth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.mainsection .content .real-content .userselectboard .fourth h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mainsection .content .real-content .userselectboard .fourth label {
  width: 100px;
  margin-left: 7px;
}

.mainsection .content .real-content .userselectboard .fifth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 150px;
  height: 43.247px;
  flex-shrink: 0;
  border-radius: 8.317px;
  background: #FFF;
}

.mainsection .content .real-content .userselectboard .fifth h1 {
  color: #000;
  font-family: Inter;
  font-size: 16.633px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mainsection .content .real-content .userselectboard .fifth label {
  width: 100px;
  margin-left: 7px;
}

.mainsection .content .real-content .items1 {
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainsection .content .real-content .items1 .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 120px;
  height: 32.429px;
  flex-shrink: 0;
  border-radius: 6.236px;
  border: 1.5px solid #8E66FF;
  background: #FFF;
  cursor: pointer;
}

.mainsection .content .real-content .items2 {
  margin-top: 10px;
  margin-left: 120px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainsection .content .real-content .items2 .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 120px;
  height: 32.429px;
  flex-shrink: 0;
  border-radius: 6.236px;
  border: 1.5px solid #8E66FF;
  background: #FFF;
  cursor: pointer;
}