.mainsection .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainsection .content a {
  text-decoration: none;
}

.mainsection .content .real-content .email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainsection .content .real-content .email input {
  width: 548px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.50);
}
  
.mainsection .content .real-content .email input::placeholder {
  /* Center the placeholder text vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa; /* Placeholder text color */
}

.mainsection .content .buttoncontent {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.mainsection .content .buttoncontent button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background: #222;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
  border: none;
  box-shadow: 0px 5.2063493728637695px 5.2063493728637695px 1.3015873432159424px rgba(0, 0, 0, 0.50);
}

.mainsection .content .buttoncontent button h1 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 36.444px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}