.mainsection {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.mainsection .menu {
  display: flex;
  flex-direction: column;
  background: white;
  width: 25%;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.mainsection .menu img {
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
  border-radius: 7px;
}

.mainsection .menu .genesis_icon {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  align-items: center;
}

.mainsection .menu .genesis_icon img {
  width: 7%;
  height: 7%;
  margin-left: 13px;
  margin-top: 0px;
}

.mainsection .menu .genesis_icon h1 {
  margin-left: 10px;
  width: 20%;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainsection .menu .dao_icon {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}

.mainsection .menu .dao_icon h1 {
  margin-left: 10px;
  color: #888;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainsection .menu .dao_icon img {
  width: 7%;
  height: 7%;
  margin-left: 13px;
  margin-top: 0px;
}

.mainsection .menu .airdrop_icon {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}

.mainsection .menu .airdrop_icon img {
  width: 7%;
  height: 7%;
  margin-left: 13px;
  margin-top: 0px;
}

.mainsection .menu .airdrop_icon h1 {
  margin-left: 10px;
  color: #888;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}

.mainsection .menu .social_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 300px;
  margin-left: 35%;
  width: 30%;
  margin-bottom: 20px;
}

.mainsection .menu .social_icon img {
  margin-right: 20px;
}

.mainsection .content {
  display: flex;
  flex-direction: column;
}